
BACKGROUND_COLOR = #333
APPLICATION_WIDTH = 950px
APPLICATION_MIN_HEIGHT = 650px
GENERAL_PADDING = 10px

body
	background-color: BACKGROUND_COLOR
	width: 100%
	text-align: center
	
#content
	width: APPLICATION_WIDTH
	text-align: left
	margin: auto
	color: #fff
	
	h1
		text-align: center
		line-height: 16px
	
